*{margin: 0;
padding: 0;
box-sizing: border-box
}

body{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"}

.conocenos{padding: 60px 0;
width: 90%; max-width: 1000px; margin: auto}